@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

:root {
	--primary-color: #74bf44;
}

@theme inline {
	--color-primary: var(--primary-color);
}

body {
	font-family: "Inter", sans-serif;
	background-color: #f4f4f4;
}

.custom-scrollbar::-webkit-scrollbar {
	display: none;
}
